* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #001e4d;
}

.app {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 3px 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  color: #001e4d;
  font-size: 25px;
  border-bottom: 1px solid #001e4d;
  margin-bottom: 15px;
  padding-bottom: 15px;
}


.question {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #001e4d;
}

.btn {
  background-color: transparent;
  color: #001e4d;
  font-size: 15px;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  text-align: left;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.next-button {
  display: none;
  margin: 20px auto 0;
  background-color: #001e4d;
  font-size: 14px;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.next-button:hover {
  background-color: #000f28;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}